.modalChooseServiceContainer {
  width: calc(100% + 0px);
  height: calc(100% + 120px);
  position: fixed; 
  top: -120px;
  left: 0;
  background-color: #D9D9D9AD;;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modalChooseService {
  margin:0 0 0 19%;
  width: 750px;
  height: auto;
  border-radius: 5px;
  background-color: white;
}

.modalHeder {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.modalHeder h5 {
  margin: 0;
  font-size: 1.25rem;
  font-weight: 500;
  font-family: 'Roboto', sans-serif;
}

.spanCross{
  position: relative;
  margin: 0 0 0 98%;
  width: 30px;
  height: 30px;
  border: none;
  background: none;
}

.spanCross img{
  position: absolute;
  top: 3px;
  left: 3px;
  width: 20px;
  height: 20px;
}

.spanCross:hover{
  border-radius: 15px;
  border: 2px solid black;
}

.animate-label {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
  padding: 15px;

}

.animate-label input[id="recovery_email"] {
  display: block;
  outline: none;
  width: 80%;
  height: calc(2.5rem + -12px);
  background: transparent;
  padding-left: 14px;
  padding-top: 20px;
  font-size: 15px;
  margin-bottom: 10px;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  color: #000;
  text-transform: initial;
  box-sizing: border-box;
  background-color: rgb(217, 249, 255);
  border: 1px solid #ffffff;
}

.animate-label label[for="recovery_email"] {
  cursor: text;
  display: block;
  position: absolute;
  left: 96px;
  top: 29px;
  text-align: left;
  font-size: 17px;
  color: #000;
  transition: .2s;
}

.animate-label input[id="recovery_email"]:valid+label[for="recovery_email"],
.animate-label input[id="recovery_email"]:focus+label[for="recovery_email"] {
  top: 13px;
  font-size: 17px;
  outline: 0;
  color: #495057;
  transition: opacity 0.1s ease-in-out, transform 0.1s ease-in-out;
}

.animate-label input[id="recovery_email"]:focus {
  color: #495057;
  background-color: #fff;
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, .25);
}

.modalFuter {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: end;
  justify-content: center;
  padding: 0.75rem;
  border-bottom-right-radius: calc(0.3rem - 1px);
  border-bottom-left-radius: calc(0.3rem - 1px);
}

.modalFuter button {
  cursor: pointer;
  width: 189px;
  font-size: 18px;
  height: 40px;
  color: #fff;
  border-radius: 15px;
  border: 0;
  background-color: #00b2f4;
}

@media screen and (min-width: 1700px) and (max-width: 2400px) and (max-device-width: 2400px){
  .modalFuter button {
    margin-bottom: 30px;
    width: 289px;
    height: 50px;
    font-size: 25px;
    color: #fff;
    border-radius: 15px;
    border: 0;
    background-color: #00b2f4;
    cursor: pointer;
  }
}

@media (width<=1300px) {
  .modalChooseService {
    margin-left: 500px;
    width: 700px;
  }
}

@media (width<=1200px) {
  .modalChooseService {
    margin-left: 330px;
    width: 700px;
  }
}

@media (width<=1000px) {
  .modalChooseService {
    margin-left: 230px;
    width: 600px;
  }
}

@media (width<=830px) {
  .modalChooseService {
    margin-left: 130px;
    width: 540px;
  }
}

@media (width<=600px) {
  .modalChooseService {
    margin-left: 30px;
    width: 465px;
  }

  .animate-label input[id="recovery_email"] {
    width: 95%;
  }

  .animate-label label[for="recovery_email"] {
    left: 35px;
  }
}

@media (width<=470px) {
  .modalChooseService {
    margin-left: 0;
    width: 400px;
  }

  .animate-label input[id="recovery_email"] {
    height: calc(2.5rem + 2px);
  }
}

@media (width <=400px) {
  .animate-label input[id="recovery_email"] {
    width: 100%;
  }

  .modalChooseService {
    width: 340px;
  }

  .animate-label label[for="recovery_email"] {
    left: 30px;
    font-size: 14px;
  }

  .animate-label input[id="recovery_email"]:valid+label[for="recovery_email"],
  .animate-label input[id="recovery_email"]:focus+label[for="recovery_email"] {
    font-size: 14px;
    top: 20px;
  }
}