.animateContainer img {
    position: absolute;
    top: 106px;
    right: 27%;
    width: 30px;
    height: 30px;
    cursor: pointer;

}

@media screen and (max-width: 520px) {
    .animateContainer img {
        top: 81px;
        right: 15%;
    }
}