.edit-user {
    margin-top: 100px;
    margin-left: 500px;
    width: 600px;
    padding: 0.7rem 1.5rem 35px;
    display: flex;
    align-items: end;
    flex-direction: column;
    border-radius: 0.5rem;
    background: #fff;
    border: 1px solid #eee;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
    text-align: center;
}

.edit-user h5 {
    font-weight: 400;
    font-size: 20px;
    font-family: Arial;
    line-height: 21.77px;
}

.access-btn {
    width: 200px;
    font-size: 18px;
    margin-top: 40px;
    margin-right: 0px;
    border: 0;
    height: 36px;
    background-color: rgb(0, 178, 244);
    color: #eee;
    border-radius: 13px;
}

.edit-user_data {
    display: flex;
    justify-content: end;
}

.edit-user_data input {
    display: block;
    outline: none;
    width: 300px;
    height: calc(2.5rem + -12px);
    background: transparent;
    font-size: 15px;
    border: 1px solid #ffffff;
    color: #000;
    text-transform: initial;
    box-sizing: border-box;
    background-color: rgb(217, 249, 255);
    margin-left: 15px;
    margin-top: 18px;
}

@media (width<=1600px) {
    .edit-user {
        margin-top: 120px;
        width: 700px;
        margin-left: 620px;
    }

    .edit-user h5 {
        font-size: 25px;
    }
}

@media (width <=1400px) {
    .edit-user {
        margin-top: 120px;
        width: 686px;
        margin-left: 525px;
    }
}

@media (width <=1300px) {
    .edit-user {
        margin-left: 465px;
    }
}

@media (width <=1200px) {
    .edit-user {
        margin-left: 416px;
    }
}

@media (width <=1100px) {
    .edit-user {
        margin-left: 390px;
        margin-top: 110px;
        width: 600px;

    }

    .edit-user_data input {
        height: calc(2.5rem + 5px);
    }
}

@media (width <=1000px) {
    .edit-user {
        margin-left: 341px;
        margin-top: 110px;
        width: 582px;
    }

    .edit-user h5 {
        font-size: 19px;
    }
}

@media (width <=980px) {
    .edit-user {
        margin-left: 316px;
        width: 582px;
        margin-top: 110px;
    }
}

@media (width <=900px) {
    .edit-user {
        margin-left: 400px;
        width: 345px;
        margin-top: 100px;
        flex-direction: initial;
        text-align: start;
    }

    .edit-user_data {
        flex-direction: column;
    }

    .edit-user h5 {
        margin-bottom: 0;
        margin-left: 16px;
    }

    .access-btn {
        margin-left: 40px;
    }

    .edit-user_data input {
        height: calc(3.5rem + -12px);
        ;
    }
}

@media (width<=800px) {
    .edit-user {
        margin-left: 357px;
    }
}

@media (width<=740px) {
    .edit-user {
        margin-left: 318px;
    }
}

@media (width <=650px) {
    .edit-user {
        margin-left: 95px;
    }
}

@media (width <=570px) {
    .edit-user {
        margin-left: 70px;
        width: 320px;
    }
}

@media (width <=470px) {
    .edit-user h5 {
        width: 300px;
        margin-bottom: 0;
        margin-left: 0;
    }

    .edit-user {
        margin-left: auto;
        margin-right: auto;
        width: 285px;
        margin-top: 20px;
        padding: 0.7rem 1.5rem 35px;
        display: flex;
        flex-direction: initial;
        border-radius: 0.5rem;
        background: #fff;
        border: 1px solid #eee;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
        text-align: start;
    }

    .edit-user_data input {
        margin-left: 0;
    }

    .edit-user_data {
        flex-direction: column;
        width: 300px;
    }
}



@media (width <=350px) {
    .edit-user {

        width: 268px;
    }
}