.edit-user {
    margin-top: 20px;
    margin-left: 500px;
    width: 600px;
    padding: 0.7rem 1.5rem 35px;
    display: flex;
    align-items: end;
    flex-direction: column;
    border-radius: 0.5rem;
    background: #fff;
    border: 1px solid #eee;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
    text-align: center;
}

.edit-user h5 {
    font-weight: 400;
    font-size: 20px;
    font-family: Arial;
    line-height: 21.77px;
}

.access-btn {
    width: 200px;
    font-size: 18px;
    margin-top: 40px;
    margin-right: 0px;
    border: 0;
    height: 36px;
    background-color: rgb(0, 178, 244);
    color: #eee;
    border-radius: 13px;
}

.edit-user_data {
    display: flex;
    justify-content: end;
}

.edit-user_data input {
    display: block;
    outline: none;
    width: 250px;
    height: calc(3.5rem + -8px);
    background: transparent;
    font-size: 15px;
    border: 1px solid #ffffff;
    color: #000;
    text-transform: initial;
    box-sizing: border-box;
    background-color: rgb(217, 249, 255);
    margin-left: 15px;
    margin-top: 18px;
}

@media (width <=1100px) {
    .edit-user {
        margin-left: 382px;
        width: 520px;
    }
}

@media (width <=980px) {
    .edit-user {
        margin-left: 390px;
        width: 450px;
        margin-top: 110px;
    }
}

@media (width <=900px) {
    .edit-user {
        margin-left: 337px;
        width: 400px;
        margin-top: 100px;
        flex-direction: initial;
        text-align: start;
    }

    .edit-user_data {
        flex-direction: column;
    }

    .edit-user h5 {
        margin-bottom: 0;
        margin-left: 30px;
    }

    .access-btn {
        margin-left: 40px;
    }
}

@media (width <=650PX) {
    .edit-user {
        margin-left: 60px;
    }
}

@media (width <=570px) {
    .edit-user {
        margin-left: 50px;
        width: 295px;
    }
}

@media (width <=470px) {
    .edit-user h5 {
        width: 300px;
        margin-bottom: 0;
        margin-left: 0;
    }

    .edit-user {
        margin-left: 12px;
        width: 300px;
        margin-top: 20px;
        padding: 0.7rem 1.5rem 35px;
        display: flex;
        flex-direction: initial;
        border-radius: 0.5rem;
        background: #fff;
        border: 1px solid #eee;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
        text-align: start;
    }

    .edit-user_data input {
        margin-left: 0;
    }

    .edit-user_data {
        flex-direction: column;
        width: 300px;
    }
}