.container-Main-Application {
    font-family: revert;
    font-weight: 400;
    line-height: 1.5;
}

.block1 {
    display: flex;
    flex-direction: row;
    margin-top: 177px;
}

.block1 img {
    width: 550px;
    margin-left: 60px;
}

.aplication-text1-block1 {
    width: 100%;
    background: #fff;
    border: 1px solid #eee;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.15);
    border-top-left-radius: 20px;
    margin-left: 30px;
    padding: 74px;
    text-align: justify;
}

.aplication-text1-block1 span {
    color: #00B2F4;
    cursor: pointer;

}

.aplication-text2-block1 {
    margin-top: 110px;
}

.aplication-text2-block1 p {
    color: red;
}

/* блок2 */
.text1,
.Aplication-contauner-block3,
.container-info-screen,
.container-mobile-phone-screen {
    display: flex;
    flex-direction: row;
}

.container-mobile-phone-screen img {
    width: 220px;
    margin: 9%;
}

.container-info-screen {
    margin-left: 30px;
}

.block-one {
    display: flex;
    flex-direction: row;
    background: #fff;
    border: 1px solid #eee;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.15);
    width: 25%;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 30px;
    padding-right: 30px;
}

.block-one img {
    position: relative;
    left: -34px;
    top: 23px;
    height: 50px;
}

.block-one h1 {
    margin-left: 27px;
}

.block-one p {
    text-align: end;
    margin-top: 60px;
}

/* блок 3 */
.Aplication-contauner-block3 {
    padding: 150px;
}

.Aplication-contauner-block3 img {
    width: 374px;
}

.bloc3-text {
    border: 1px solid #eee;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.15);
    margin-right: 64px;
    height: 320px;
    margin-top: 50px;
    margin-left: 160px;
    border-radius: 15px;
    text-align: end;
    padding: 30px;
}

.bloc3-text img {
    height: 70px;
    margin: 20px;
}

.text1 p {
    margin-top: 50px;
    text-align: end;
}

@media (width <=1600px) {
    .aplication-text1-block1 {
        width: 100%;
        background: #fff;
        border: 1px solid #eee;
        box-shadow: 0 1px 10px rgba(0, 0, 0, 0.15);
        border-top-left-radius: 20px;
        margin-left: 30px;
        padding: 74px;
        text-align: justify;
    }

    .container-mobile-phone-screen img {
        width: 300px;
        margin: 7%;
    }

    .bloc3-text {
        margin-right: 50px;
    }

}

@media (width <=1450px) {
    .block1 img {
        width: 530px;
    }

    .container-mobile-phone-screen img {
        width: 277px;
    }

    .block-one p {
        text-align: end;
        margin-top: 49px;
        width: 205px;
    }

}

@media (width <=1300px) {
    .container-mobile-phone-screen img {
        width: 260px;
    }

    .container-info-screen {
        margin-left: 5px;
    }

    .block1 img {
        width: 470px;
    }

    .aplication-text1-block1 {
        background: #fff;
        border: 1px solid #eee;
        box-shadow: 0 1px 10px rgba(0, 0, 0, 0.15);
        border-top-left-radius: 20px;
        padding: 74px;
        text-align: justify;
        margin-left: calc(0% + 20px);
    }

    .block-one {
        width: 22%;
    }

    .bloc3-text {
        margin-left: 130px;
    }
}

@media (width <=1200px) {
    .Aplication-contauner-block3 img {
        width: 300px;
    }

    .container-mobile-phone-screen img {
        margin: 5%;
    }

    .block1 img {
        width: 420px;
    }

    .block-one {
        width: 22%;
        margin-left: 3%;
    }

    .Aplication-contauner-block3 {
        padding: 75px;
    }

    .bloc3-text img {
        margin: 0;
    }
}

@media (width <=1000px) {
    .aplication-text1-block1 {
        margin-left: calc(0% + 17px);
        margin-right: 0%;
    }

    .container-mobile-phone-screen img {
        margin: 3%;
    }

    .bloc3-text {
        margin-left: 80px;
    }
}

@media(width <=980px) {
    .block1 {
        margin-top: 20px;
        margin-top: 160px;
    }

    .block1 img {
        margin-top: 50px;
        width: 90%;
    }

    .aplication-text1-block1 {
        padding: 10px;
        width: 91%;
    }

    .container-mobile-phone-screen img {
        width: 30%;
        margin: 2%;
    }

    .Aplication-contauner-block3 {
        margin-top: 20px;
        padding: 10px;
    }

    .Aplication-contauner-block3 img {
        width: 250px;
        margin: 0 0 0 10px;
    }

    .bloc3-text {
        margin: 0 5% 0 5%;
        height: auto;
        padding: 10px;
    }

    .container-info-screen {
        flex-direction: column;
    }

    .container-info-screen {
        margin: 0 2% 0 2%;
    }

    .block-one {
        width: 46%;
        margin: 20px 0 0 26%;
        padding: 10px;
    }

    .block-one img {
        position: relative;
        left: -34px;
        top: 23px;
        height: 50px;
    }

    .block-one h1 {
        margin-left: 15px;
    }

    .block-one p {
        text-align: end;
        margin: 10px 15px 5px 0;
    }
}

@media (width <=800px) {
    .container-mobile-phone-screen img {
        margin: 1%;
    }

    .block1 img {
        margin-top: 50px;
        width: 87%;
        margin-left: 20px;
    }

    .block-one {
        width: 46%;
        margin: 20px 0 0 26%;
        padding: 10px;
    }

    .Aplication-contauner-block3 {
        flex-direction: column;
        width: 250px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .bloc3-text {
        margin: 30px 5% 0 -50%;
        height: auto;
        padding: 10px;
        width: 500px;
    }

    .container-mobile-phone-screen {
        margin-top: 100px;
    }
}

@media(width <=670px) {
    .block1 {
        margin-top: 50px;
        flex-flow: column;
    }

    .block1 img {
        margin-top: 70px;
        width: 70%;
        margin-left: 105px;
    }

    .Aplication-contauner-block3 {
        flex-direction: column;
    }

    .Aplication-contauner-block3 img {
        width: 80%;
        margin: 0 0 0 7%;
    }

    .aplication-text1-block1 {
        padding: 18px;
        margin-top: 20px;
    }

    .block-one {
        width: 63%;
        margin: 19px 0 0 20%;
        padding: 10px;
    }

    .bloc3-text {
        width: 450px;
        margin: 30px 5% 0 -36%;
    }
}

@media(width <=600px) {
    .block1 img {
        margin: 30px 0 0 25%;
        width: 60%;
    }

    .bloc3-text img {
        width: 60%;
        margin: 0;
    }

    .aplication-text1-block1 {
        margin: auto;
        width: 80%;
        margin-right: 0;
    }

    .container-mobile-phone-screen {
        flex-direction: column;
    }

    .container-mobile-phone-screen img {
        margin: auto;
        width: 50%;
    }

    .block-one {
        width: 70%;
        margin: 19px 0 0 15%;
    }
    .Aplication-contauner-block3 img{
        margin: 0 0 0 19%;
    }
    .Aplication-contauner-block3{
        margin-top: 80px;
    }
}

@media (width <= 480px) {
    .Aplication-contauner-block3 img{
        margin: 0 0 0 0%;
        width: 260px;
    }
    .bloc3-text{
        width: 410px;
        margin: 30px 5% 0 -36%;
    }
}

@media (width <=400px) {
    .bloc3-text{
        width: 350px;
        margin: 30px 5% 0 -25%;
    }
}
@media (width <=390px) {
    .bloc3-text{
        width: 333px;
        margin: 30px 5% 0 -21%;
    }
}

