.container-Main-Application {
    font-family: revert;
    font-weight: 400;
    line-height: 1.5;
}

.block1 {
    margin: 100px 0;
    position: relative;
    display: flex;
    justify-content: end;
}

.block1 img {
    position: absolute;
    top: 0;
    left: 5%;
    height: 500px;
}

.aplication-text1-block1 {
    margin-left: 30px;
    max-width: 600px;
    padding: 74px;
    background: #fff;
    border: 1px solid #eee;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.15);
    border-top-left-radius: 20px;
    text-align: justify;
}

.aplication-text1-block1 span {
    color: #00B2F4;
    cursor: pointer;

}

.aplication-text2-block1 {
    margin-top: 110px;
}

.aplication-text2-block1 p {
    color: red;
}

.text1,
.Aplication-contauner-block3,
.container-info-screen,
.container-mobile-phone-screen {
    display: flex;
    justify-content: space-around;
}

.screen_container {
    display: block;
}

.screen-img {
    margin: 20px 10%;
    max-width: 400px;
}

.block-one {
    margin: 0 auto;
    max-width: 400px;
    padding-right: 30px;
    display: flex;
    background: #fff;
    border: 1px solid #eee;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.15);
    border-radius: 30px;
}

.block-one img {
    position: relative;
    left: -32px;
    top: 10px;
    height: 50px;
}

.block-one h1 {
    margin-left: 27px;
}

.block-one p {
    margin-top: 45px;
    text-align: end;
}

.Aplication-contauner-block3 {
    padding: 150px;
}

.Aplication-contauner-block3 img {
    width: 374px;
}

.bloc3-text {
    margin: 0 50px 0 160px;
    height: auto;
    padding: 30px;
    border: 1px solid #eee;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.15);
    border-radius: 15px;
    text-align: end;
}

.bloc3-text img {
    height: 70px;
    margin: 20px;
}

.text1 p {
    margin-top: 50px;
    text-align: end;
}

@media screen and (min-width: 1800px) and (max-width: 2400px) and (max-device-width: 2400px) {
    .block1 img {
        top: -40px;
        left: 10%;
        height: 620px;
    }

    .aplication-text1-block1 {
        margin-left: 30px;
        max-width: 900px;
    }

    .block-one {
        margin: 70px auto 20px auto;
    }

    .block-one h1 {
        font-size: 32px;
        line-height: 35px;
    }

    .block-one img {
        position: relative;
        left: -39px;
        top: 10px;
        height: 60px;
    }

    .Aplication-contauner-block3 {
        padding: 150px 150px 0 150px;
        box-sizing: border-box;
    }
    
    .Aplication-contauner-block3 img {
        width: 500px;
    }

    .bloc3-text {
        margin-top: 30px;
        height: 450px;
    }

    .bloc3-text img {
        height: 120px;
        margin: 5px;
    }
}

@media (max-width: 1450px) {
    .block-one p {
        text-align: end;
        margin-top: 49px;
    }
}

@media (max-width: 1300px) {
    .block1 img {
        left: 10px;
        height: 400px;
    }

    .aplication-text1-block1 {
        margin-left: 40px;
        max-width: 500px;
        padding: 10px 20px;
    }

    .block-one {
        max-width: 300px;
    }
}

@media (max-width: 1200px) {
    .Aplication-contauner-block3 img {
        width: 300px;
    }

    .Aplication-contauner-block3 {
        padding: 75px;
    }

    .bloc3-text img {
        margin: 0;
    }
}

@media (max-width: 1000px) {
    .aplication-text1-block1 {
        margin-left: calc(0% + 17px);
        margin-right: 0%;
    }

    .bloc3-text {
        margin-left: 80px;
    }
}

@media(max-width: 980px) {
    .block1 {
        margin-top: 80px;
    }

    .block1 img {
        left: 25%;
        height: 40%;
    }

    .aplication-text1-block1 {
        margin: 550px 0 0 0;
        width: 91%;
    }

    .Aplication-contauner-block3 {
        margin-top: 20px;
        padding: 10px;
    }

    .Aplication-contauner-block3 img {
        width: 250px;
        margin: 0 0 0 10px;
    }

    .bloc3-text {
        margin: 0 5% 0 5%;
        height: auto;
        padding: 10px;
    }

    .container-info-screen {
        margin: 0 2% 0 2%;
        flex-direction: column;
    }

    .screen-img {
        margin: 20px 30%;
    }

    .block-one {
        max-width: 350px;
        margin: 20px auto;
        padding: 10px;
    }

    .block-one img {
        left: -30px;
        top: 10px;
    }

    .block-one h1 {
        margin-left: 15px;
    }

    .block-one p {
        text-align: end;
        margin: 10px 15px 5px 0;
    }
}

@media (max-width: 800px) {
    .block-one {
        width: 46%;
        margin: 20px 0 0 26%;
        padding: 10px;
    }

    .aplication-text1-block1 {
        margin: 400px 0 0 0;
    }

    .Aplication-contauner-block3 {
        flex-direction: column;
        width: 250px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .bloc3-text {
        margin: 30px 5% 0 -50%;
        height: auto;
        padding: 10px;
        width: 500px;
    }
}

@media(max-width: 670px) {
    .block1 img {
        left: 25%;
        height: 300px;
    }

    .Aplication-contauner-block3 {
        flex-direction: column;
    }

    .Aplication-contauner-block3 img {
        width: 80%;
        margin: 0 0 0 7%;
    }

    .block-one {
        width: 63%;
        margin: 19px 0 0 20%;
        padding: 10px;
    }

    .bloc3-text {
        width: 410px;
        margin: 30px 5% 0 -36%;
    }
}

@media(max-width: 600px) {
    .block1 img {
        left: 20%;
        height: 350px;
    }

    .bloc3-text img {
        width: 60%;
        margin: 0;
    }

    .screen-img {
        margin: 20px 20%;
    }

    .block-one {
        width: 70%;
        margin: 19px 0 0 15%;
    }

    .Aplication-contauner-block3 img {
        margin: 0 0 0 19%;
    }

    .Aplication-contauner-block3 {
        margin-top: 80px;
    }
}

@media (max-width: 490px) {
    .block1 img {
        left: 10%;
    }

    .Aplication-contauner-block3 img {
        margin: 0 0 0 0%;
        width: 260px;
    }

    .screen-img {
        margin: 20px 10%;
    }

    .block-one img {
        top: 5px;
    }

    .bloc3-text {
        width: 350px;
        margin: 30px 5% 0 -24%;
    }
}

@media (max-width: 420px) {
    .block1 img {
        left: 10%;
    }

    .bloc3-text {
        width: 350px;
        margin: 30px 5% 0 -25%;
    }
}

@media (max-width: 390px) {
    .bloc3-text {
        width: 333px;
        margin: 30px 5% 0 -21%;
    }
}