.form-register-physical-pesrson {
    display: flex;
    flex-direction: column;
    padding: 0.7rem 1.5rem 35px;
    border-radius: 0.5rem;
    background: #fff;
    border: 1px solid #eee;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
    text-align: center;
    /* height: 300px; */
    width: 750px;
    margin-right: 15px;
    margin-top: 15px;
}

.physical-pesrson-block1 {
    position: relative;
    margin-top: 60px;
}

.eye-image {
    position: absolute;
    top: 77%;
    right: 7%;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.confirm-eye {
    position: absolute;
    top: 92%;
    right: 7%;
    width: 30px;
    height: 30px;
    cursor: pointer;
}



.physical-pesrson-block1 input[id="surname"],
.physical-pesrson-block1 input[id="name"],
.physical-pesrson-block1 input[id="patronymic"],
.physical-pesrson-block1 input[id="email"],
.physical-pesrson-block1 input[id="confirmation-email"],
.physical-pesrson-block1 input[id="pass"],
.physical-pesrson-block1 input[id="confirmation-pass"] {
    display: block;
    outline: none;
    width: 60%;
    height: calc(2.5rem + -12px);
    background: transparent;
    font-size: 15px;
    border: 1px solid #ffffff;
    color: #000;
    text-transform: initial;
    box-sizing: border-box;
    background-color: rgb(217, 249, 255);
    margin-left: 260px;
    margin-top: 18px;
}

.physical-pesrson-block1 label[for="surname"],
.physical-pesrson-block1 label[for="name"],
.physical-pesrson-block1 label[for="patronymic"],
.physical-pesrson-block1 label[for="email"],
.physical-pesrson-block1 label[for="confirmation-email"],
.physical-pesrson-block1 label[for="pass"],
.physical-pesrson-block1 label[for="confirmation-pass"] {
    cursor: text;
    display: block;
    position: absolute;
    left: 172px;
    top: 50px;
    text-align: left;
    font-size: 17px;
    color: #000;
    -webkit-transition: .2s;
    transition: .2s;

}

.physical-pesrson-block1 label[for="name"] {
    left: 210px;
    top: 120px;
}

.physical-pesrson-block1 label[for="patronymic"] {
    left: 170px;
    top: 195px;
}

.physical-pesrson-block1 label[for="email"] {
    left: 193px;
    top: 270px;
}

.physical-pesrson-block1 label[for="confirmation-email"] {
    left: 87px;
    top: 340px;
}

.physical-pesrson-block1 label[for="pass"] {
    left: 110px;
    top: 415px;
}

.physical-pesrson-block1 label[for="confirmation-pass"] {
    top: 485px;
    left: 82px;
}

.reg-btn {
    width: 200px;
    font-size: 18px;
    margin-top: 25px;
    margin-left: 295px;
    border: 0;
    height: 36px;
    background-color: #00b2f4;
    color: #eee;
    border-radius: 13px;
    font-size: 15px;
}


@media (width <=1360px) {
    .form-register-physical-pesrson {
        width: 643px;
    }

    .confirm-eye {
        right: 2%;
    }

    .eye-image {
        right: 2%;
    }
}

@media (width <=1150px) {
    .form-login {
        left: 35%;
    }
}

@media (width <=1000px) {
    .form-login {
        left: 20%;
    }
}

@media (width <=870px) {
    .form-login {
        left: 12%;
    }

    .confirm-eye,
    .eye-image {
        right: 12%;
    }

    .form-register-physical-pesrson {
        width: 600px;
    }

    .physical-pesrson-block1 input[id="surname"],
    .physical-pesrson-block1 input[id="name"],
    .physical-pesrson-block1 input[id="patronymic"],
    .physical-pesrson-block1 input[id="email"],
    .physical-pesrson-block1 input[id="confirmation-email"],
    .physical-pesrson-block1 input[id="pass"],
    .physical-pesrson-block1 input[id="confirmation-pass"] {
        margin-left: 180px;
    }

    .physical-pesrson-block1 label[for="surname"] {
        left: 95px;
        top: 47px;
    }

    .physical-pesrson-block1 label[for="name"] {
        left: 132px;
        top: 122px;
    }

    .physical-pesrson-block1 label[for="patronymic"] {
        left: 95px;
        top: 195px;
    }

    .physical-pesrson-block1 label[for="email"] {
        left: 120px;
        top: 265px;
    }

    .physical-pesrson-block1 label[for="confirmation-email"] {
        left: 15px;
        top: 340px;
    }

    .physical-pesrson-block1 label[for="pass"] {
        left: 35px;
        top: 410px;
    }

    .physical-pesrson-block1 label[for="confirmation-pass"] {
        left: 5px;
        top: 485px;
    }

    .reg-btn {
        margin-left: 245px;
    }
}

@media (width <=700px) {
    .form-register-physical-pesrson {
        width: 405px;
    }

    .form-login {
        left: 15%;
    }

    .confirm-eye,
    .eye-image {
        right: 0%;
    }
}

@media (width <=580px) {
    .form-login {
        left: 4%;
    }
}

@media (width <=470px) {
    .form-register-physical-pesrson {
        width: 300px;
        margin-right: auto;
        margin-left: auto;
    }

    .confirm-eye {
        right: 5%;
        top: 80%;
        width: 20px;
        height: 20px;
    }

    .eye-image {
        right: 5%;
        top: 94%;
        width: 20px;
        height: 20px;
    }

    .physical-pesrson-block1 input[id="surname"],
    .physical-pesrson-block1 input[id="name"],
    .physical-pesrson-block1 input[id="patronymic"],
    .physical-pesrson-block1 input[id="email"],
    .physical-pesrson-block1 input[id="confirmation-email"],
    .physical-pesrson-block1 input[id="pass"],
    .physical-pesrson-block1 input[id="confirmation-pass"] {
        margin-left: 25px;
        width: 90%;
        margin-top: 35px;
    }

    .physical-pesrson-block1 label[for="surname"] {
        left: 30px;
        top: 7px;
    }

    .physical-pesrson-block1 label[for="patronymic"] {
        left: 30px;
        top: 155px;
    }

    .physical-pesrson-block1 label[for="confirmation-email"],
    .physical-pesrson-block1 label[for="pass"],
    .physical-pesrson-block1 label[for="confirmation-pass"] {
        left: 80px;
    }

    .physical-pesrson-block1 label[for="name"] {
        left: 30px;
        top: 80px;
    }

    .physical-pesrson-block1 label[for="email"] {
        left: 30px;
        top: 228px
    }

    .physical-pesrson-block1 label[for="confirmation-email"] {
        left: 30px;
        top: 305px;
    }

    .physical-pesrson-block1 label[for="pass"] {
        left: 30px;
        top: 380px;
    }

    .physical-pesrson-block1 label[for="confirmation-pass"] {
        left: 30px;
        top: 455px;
    }

    .reg-btn {
        margin-left: 60px;
    }

}

@media (width <=400px) {
    .form-register-physical-pesrson {
        width: 300px;
        margin-right: auto;
        margin-left: auto;
    }
}