.form-register-legal-entity {
    width: 750px;
    margin-right: 15px;
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    padding: 0.7rem 1.5rem 35px;
    border-radius: 0.5rem;
    background: #fff;
    border: 1px solid #eee;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
    text-align: center;
}

.legal-entiti-block1 {
    position: relative;

}

.legal-entiti-block1 input[id="name-of-company"],
.legal-entiti-block1 input[id="legal-address"],
.legal-entiti-block1 input[id="inn"],
.legal-entiti-block1 input[id="checkpoint"],
.legal-entiti-block1 input[id="surname"],
.legal-entiti-block1 input[id="name"],
.legal-entiti-block1 input[id="patronymic"],
.legal-entiti-block1 input[id="email"],
.legal-entiti-block1 input[id="confirmation-email"],
.legal-entiti-block1 input[id="pass"],
.legal-entiti-block1 input[id="confirmation-pass"] {
    display: block;
    outline: none;
    width: 60%;
    height: calc(2.5rem + -12px);
    background: transparent;
    font-size: 15px;
    border: 1px solid #ffffff;
    color: #000;
    text-transform: initial;
    box-sizing: border-box;
    background-color: rgb(217, 249, 255);
    margin-left: 305px;
    margin-top: 18px;
}

.legal-entiti-block1 label[for="name-of-company"],
.legal-entiti-block1 label[for="legal-address"],
.legal-entiti-block1 label[for="inn"],
.legal-entiti-block1 label[for="checkpoint"],
.legal-entiti-block1 label[for="surname"],
.legal-entiti-block1 label[for="name"],
.legal-entiti-block1 label[for="patronymic"],
.legal-entiti-block1 label[for="email"],
.legal-entiti-block1 label[for="confirmation-email"],
.legal-entiti-block1 label[for="pass"],
.legal-entiti-block1 label[for="confirmation-pass"] {
    display: block;
    position: absolute;
    left: 70px;
    top: 45px;
    text-align: left;
    font-size: 17px;
    color: #000;
    -webkit-transition: .2s;
    transition: .2s;
}

.legal-entiti-block1 label[for="legal-address"] {
    top: 125px;
    left: 130px;
}

.legal-entiti-block1 label[for="inn"] {
    left: 257px;
    top: 200px;
}

.legal-entiti-block1 label[for="checkpoint"] {
    top: 273px;
    left: 257px;
}

.legal-entiti-block1 label[for="surname"] {
    top: 340px;
    left: -3px;
}

.legal-entiti-block1 label[for="name"] {
    top: 420px;
    left: 260px;
}

.legal-entiti-block1 label[for="patronymic"] {
    top: 495px;
    left: 220px;
}

.legal-entiti-block1 label[for="email"] {
    top: 567px;
    left: 248px;
}

.legal-entiti-block1 label[for="confirmation-email"] {
    left: 139px;
    top: 640px;
}

.legal-entiti-block1 label[for="pass"] {
    top: 714px;
    left: 160px;
}

.legal-entiti-block1 label[for="confirmation-pass"] {
    top: 787px;
    left: 136px;
}

.eye-image-entity {
    position: absolute;
    top: 86%;
    right: 1%;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.confirm-eye-entity {
    position: absolute;
    top: 95%;
    right: 1%;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.reg-btn {
    width: 200px;
    font-size: 18px;
    margin-top: 25px;
    margin-left: 295px;
    border: 0;
    height: 36px;
    background-color: #00b2f4;
    color: #eee;
    border-radius: 13px;
    font-size: 15px;
}

@media screen and (min-width: 2000px) and (max-width: 2400px) and (max-device-width: 2400px) {
    .form-register-legal-entity {
        margin-top: 50px;
    }

    .legal-entiti-block1 input[id="name-of-company"],
    .legal-entiti-block1 input[id="legal-address"],
    .legal-entiti-block1 input[id="inn"],
    .legal-entiti-block1 input[id="checkpoint"],
    .legal-entiti-block1 input[id="surname"],
    .legal-entiti-block1 input[id="name"],
    .legal-entiti-block1 input[id="patronymic"],
    .legal-entiti-block1 input[id="email"],
    .legal-entiti-block1 input[id="confirmation-email"],
    .legal-entiti-block1 input[id="pass"],
    .legal-entiti-block1 input[id="confirmation-pass"] {
        width: 450px;
        height: 58px;
    }
}

@media screen and (max-width: 1250px) and (max-device-width: 1250px) {
    .form-login {
        left: 25%;
    }

    .form-register-legal-entity {
        margin-left: -500px;
    }

    .form-register-legal-entity {
        width: 730px;
    }
}

@media screen and (max-width: 1100px) and (max-device-width: 1100px)  {
    .form-register-legal-entity {
        width: 650px;
    }

    .confirm-eye-entity,
    .eye-image-entity {
        right: 4%;
    }

    .legal-entiti-block1 input[id="name-of-company"],
    .legal-entiti-block1 input[id="legal-address"],
    .legal-entiti-block1 input[id="inn"],
    .legal-entiti-block1 input[id="checkpoint"],
    .legal-entiti-block1 input[id="surname"],
    .legal-entiti-block1 input[id="name"],
    .legal-entiti-block1 input[id="patronymic"],
    .legal-entiti-block1 input[id="email"],
    .legal-entiti-block1 input[id="confirmation-email"],
    .legal-entiti-block1 input[id="pass"],
    .legal-entiti-block1 input[id="confirmation-pass"] {
        margin-left: 250px;
    }

    .legal-entiti-block1 label[for="name-of-company"] {
        left: 20px;
    }

    .legal-entiti-block1 label[for="legal-address"] {
        left: 80px;
        top: 120px;
    }

    .legal-entiti-block1 label[for="inn"] {
        left: 205px;
        top: 190px;
    }

    .legal-entiti-block1 label[for="checkpoint"] {
        left: 205px;
        top: 265px;

    }

    .legal-entiti-block1 label[for="surname"] {
        left: 60px;
        width: 192px;
        top: 315px;
    }

    .legal-entiti-block1 label[for="name"] {
        left: 205px;
        top: 410px;
    }

    .legal-entiti-block1 label[for="patronymic"] {
        left: 170px;
        top: 485px;
    }

    .legal-entiti-block1 label[for="email"] {
        left: 195px;
        top: 557px;
    }

    .legal-entiti-block1 label[for="confirmation-email"] {
        left: 85px;
        top: 630px;
    }

    .legal-entiti-block1 label[for="pass"] {
        left: 105px;
        top: 705px;
    }

    .legal-entiti-block1 label[for="confirmation-pass"] {
        left: 80px;
        top: 777px;
    }
}

@media  screen and (max-width: 980px) and (max-device-width: 980px)  {
    .form-login {
        left: 5%;
        top: 100px;
    }

    .form-register-legal-entity {
        margin:-100px 0 0 -300px;
    }
}


@media screen and (max-width: 800px) and (max-device-width: 800px) {
    .form-login {
        left: 11%;
    }

    .form-register-legal-entity {
        margin:-100px 0 0 -100px;
        width: 500px;
    }

    .confirm-eye-entity,
    .eye-image-entity {
        right: 7%;
    }

    .legal-entiti-block1 input[id="name-of-company"],
    .legal-entiti-block1 input[id="legal-address"],
    .legal-entiti-block1 input[id="inn"],
    .legal-entiti-block1 input[id="checkpoint"],
    .legal-entiti-block1 input[id="surname"],
    .legal-entiti-block1 input[id="name"],
    .legal-entiti-block1 input[id="patronymic"],
    .legal-entiti-block1 input[id="email"],
    .legal-entiti-block1 input[id="confirmation-email"],
    .legal-entiti-block1 input[id="pass"],
    .legal-entiti-block1 input[id="confirmation-pass"] {
        margin-left: 177px;
    }

    .legal-entiti-block1 label[for="name-of-company"] {
        left: 55px;
        width: 0px;
        top: 20px;
    }

    .legal-entiti-block1 label[for="legal-address"] {
        left: 13px;
    }

    .legal-entiti-block1 label[for="inn"],
    .legal-entiti-block1 label[for="checkpoint"] {
        left: 140px;
    }

    .legal-entiti-block1 label[for="surname"] {
        left: -5px;
    }

    .legal-entiti-block1 label[for="name"] {
        left: 140px;
    }

    .legal-entiti-block1 label[for="patronymic"] {
        left: 100px;
    }

    .legal-entiti-block1 label[for="email"] {
        left: 125px;
    }

    .legal-entiti-block1 label[for="confirmation-email"] {
        left: 20px;
    }

    .legal-entiti-block1 label[for="pass"] {
        left: 40px;
    }

    .legal-entiti-block1 label[for="confirmation-pass"] {
        left: 15px;
    }

    .reg-btn {
        margin-left: 200px;
    }
}

@media screen and (max-width: 580px) and (max-device-width: 580px)  {
    .form-login {
        left: 7%;
        top: 41px;
    }

    .form-register-legal-entity {
        margin:-100px 0 0 -50px;
        width: 400px;
    }
}

@media screen and (max-width: 500px) and (max-device-width: 500px) {
    .form-login {
        left: 3%;
        top: 55px;
    }

    .form-register-legal-entity {
        margin:-100px 0 0 0px;
        width: 350px;
    }

    .confirm-eye-entity {
        right: 5%;
        top: 97%;
        width: 20px;
        height: 20px;
    }

    .eye-image-entity {
        right: 5%;
        top: 88%;
        width: 20px;
        height: 20px;
    }

    .legal-entiti-block1 input[id="name-of-company"],
    .legal-entiti-block1 input[id="legal-address"],
    .legal-entiti-block1 input[id="inn"],
    .legal-entiti-block1 input[id="checkpoint"],
    .legal-entiti-block1 input[id="surname"],
    .legal-entiti-block1 input[id="name"],
    .legal-entiti-block1 input[id="patronymic"],
    .legal-entiti-block1 input[id="email"],
    .legal-entiti-block1 input[id="confirmation-email"],
    .legal-entiti-block1 input[id="pass"],
    .legal-entiti-block1 input[id="confirmation-pass"] {
        margin-left: 25px;
        width: 90%;
        margin-top: 50px;
    }

    .reg-btn {
        margin: 20px auto;
    }

    .legal-entiti-block1 label[for="name-of-company"] {
        top: -5px;
        left: 27px;
    }

    .legal-entiti-block1 label[for="legal-address"] {
        top: 116px;
        left: 27px;
    }

    .legal-entiti-block1 label[for="inn"] {
        left: 27px;
        top: 230px;
    }

    .legal-entiti-block1 label[for="checkpoint"] {
        left: 27px;
        top: 335px;
    }

    
    .legal-entiti-block1 label[for="surname"] {
        width: 300px;
        top: 440px;
        left: 27px;
    }

    .legal-entiti-block1 label[for="name"] {
        left: 27px;
        top: 545px;
    }

    .legal-entiti-block1 label[for="patronymic"] {
        left: 27px;
        top: 650px;
    }

    .legal-entiti-block1 label[for="email"] {
        left: 27px;
        top: 755px;
    }

    .legal-entiti-block1 label[for="confirmation-email"] {
        left: 26px;
        top: 860px;
    }

    .legal-entiti-block1 label[for="pass"] {
        left: 27px;
        top: 965px;
    }

    .legal-entiti-block1 label[for="confirmation-pass"] {
        left: 27px;
        top: 1070px;
    }
}


@media screen and (max-width: 480px) and (max-device-width: 480px) {
    .legal-entiti-block1 input[id="name-of-company"],
    .legal-entiti-block1 input[id="legal-address"],
    .legal-entiti-block1 input[id="inn"],
    .legal-entiti-block1 input[id="checkpoint"],
    .legal-entiti-block1 input[id="surname"],
    .legal-entiti-block1 input[id="name"],
    .legal-entiti-block1 input[id="patronymic"],
    .legal-entiti-block1 input[id="email"],
    .legal-entiti-block1 input[id="confirmation-email"],
    .legal-entiti-block1 input[id="pass"],
    .legal-entiti-block1 input[id="confirmation-pass"] {
        height: 55px;
    }
}

@media screen and (max-width: 480px) and (max-device-width: 480px){
    .form-register-legal-entity{
        width: 300px;
        margin-left: -20px;
    }
}