.table-container {
    margin: 0 0 0 5%;
    width: 1000px;
    margin-bottom: 50px;
}

table {
    margin: 100px 0 0 20px;
    border: 2px solid black;
    border-collapse: collapse;
}

th,
td {
    width: 120px;
    padding: 10px;
    font-size: 25px;
    box-sizing: border-box;
    border: 2px solid black;
    font-weight: 400;
}

td a {
    font-size: 25px;
    text-decoration: none;
    color: rgba(0, 178, 244, 1);
}

@media screen and (min-width: 2000px) and (max-width: 2400px) and (max-device-width: 2400px) {
    .table-container {
        margin: 0 0 0 17%;
        width: 1200px;
    }

    th,
    td {
        width: 150px;
        font-size: 30px;
    }
}

@media screen and (max-width: 1500px) and (max-device-width: 1500px) {
    .table-container {
        margin-left: 100px;
        width: 900px;
        overflow-x: scroll;
    }
}

@media screen and (max-width: 1200px) and (max-device-width: 1200px) {
    .table-container {
        width: 640px;
        margin-left: 110px;
    }
}

@media screen and (max-width: 1000px) and (max-device-width: 1000px) {
    .table-container {
        width: 505px;
        margin-left: 100px;
    }

    th,
    td {
        width: 90px;
        font-size: 20px;
    }
    
    td a {
        font-size: 20px;
    }    
}

@media screen and (max-width: 800px) and (max-device-width: 800px) {
    .table-container {
        width: 387px;
        margin-left: 110px;
    }
}

@media screen and (max-width: 650px) and (max-device-width: 650px) {
    .table-container {
        width: 471px;
        margin-left: 72px;
    }
}

@media screen and (max-width: 530px) and (max-device-width: 530px) {
    .table-container {
        width: 471px;
        margin-left: 20px;
    }
}

@media screen and (max-width: 470px) and (max-device-width: 470px) {
    .table-container {
        margin: auto;
        margin-bottom: 100px;
        width: 360px;
    }
}

