.containerMain {
    font-family: revert;
    font-weight: 400;
    line-height: 1.5;
    background-image: none;
}

.container-block1 {
    position: relative;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
}

.container-Text {
    margin-left: 50vw;
    height: 310px;
    display: -webkit-flex;
    display: flex;
}

.container-Text h5 {
    font-size: 200px;
    margin-top: 100px;
}

.container-Text p {
    margin-left: 10px;
    margin-top: 100px;
    line-height: 40px;
    color: #00B2F4;
}

.documents {
    position: relative;
    display: -webkit-flex;
    display: flex;
    justify-content: end;
}

.queue {
    position: absolute;   
    top: -60px;
    left: 0;
    height: 650px;
}

.container-Text2 {
    max-width: 900px;
    padding: 95px 10px;
    background: #fff;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: end;
    justify-content: end;
    border-top-left-radius: 20px;
    border: 1px solid #eee;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.15);
}

.container-Text2 p {
    margin-right: 20px;
    width: 70%;
    line-height: 28px;
    display: -webkit-flex;
    display: flex;
    text-align: end;
}

.Ellipse {
    position: absolute;
    z-index: 1;
    margin-top: 125px;
    width: 60vh;
    margin-left: 50px;
}

.star {
    top: 105px;
    left: 115px;
    z-index: 2;
    position: absolute;
    height: 100px;
}

.container-block2 {
    margin-top: 100px;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    z-index: 2;
}

.block-info {
    margin: 80px 0 0 10%;
    width: 46%;
    height: auto;
    padding: 20px;
    border: 1px solid #eee;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.15);
    border-radius: 25px;
}

.block-info p {
    text-align: center;
    margin-bottom: 0;
}

.block-info h1 {
    margin-left: 35px;
}

.block2-text1 {
    position: relative;
    display: -webkit-flex;
    display: flex;
    box-sizing: border-box;
}

.img1 {
    position: relative;
    left: 20px;
    top: -55px;
    height: 44px;
}

.block2-text1 p {
    margin-left: 30px;
    margin-top: 30px;
    text-align: start;
}

.block2-text1 span {
    color: #00B2F4;
    cursor: pointer;
}

.img3 {
    width: 330px;
    margin-left: 180px;
    margin-top: 79px;
}

.img4 {
    position: relative;
    width: 100px;
    top: -131px;
    right: 50%;
    margin-right: -87px;
}

.container-block3 {
    margin-top: 20px;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row-reverse;
    flex-direction: row-reverse;
    z-index: 2;
}

.container-block3-info {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
}

.container-block3-info1 {
    margin: 80px 64px 0 0;
    width: 620px;
    height: auto;
    padding-bottom: 20px;
    border: 1px solid #eee;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.15);
    border-radius: 25px;
}

.info1-text1 {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
}

.info1-text1 img {
    height: 70px;
    margin: 20px;
}

.info1-text1 p {
    margin: 60px 78px 0 0;
}

.container-block3 span {
    color: #00B2F4;
    cursor: pointer;
}

.img5 {
    margin: 100px 195px 0 0;
    width: auto;
}

@media screen and (min-width: 2000px) and (max-width: 2400px) and (max-device-width: 2400px) {
    .queue{
        margin: -50px 0 0 10%;
    }

    .img1 {
        left: 15px;
        top: -70px;
        height: 64px;
    }
}

@media screen and (min-width: 2000px) and (min-device-width: 2000px) {
    .img5 {
        margin: 100px 0 0 0;
        width: 1000px;
    }
}

@media screen and (max-width: 1450px) and (max-device-width: 1450px) {
    .container-Text2 {
        max-width: 600px;
        padding: 65px 10px;
    }

    .container-Text {
        margin-left: 44vw;
    }

    .img5 {
        margin-right: 115px;
    }
}


@media screen and (max-width: 1300px) and (max-device-width: 1300px) {
    .container-Text2 p {
        margin-right: 20px;
    }

    .container-Text {
        margin-left: 480px;
    }

    .img3 {
        margin-left: 150px;
    }

    .img5 {
        margin-right: 70px;
        width: 440px;
    }
}

@media screen and (max-width: 1200px) and (max-device-width: 1200px) {
    .queue{
        top: 30px;
        height: 400px;
    }

    .container-Text {
        margin-left: 360px;
    }

    .img3 {
        margin-left: 105px;
    }

    .img5 {
        margin-right: 57px;
        width: 425px
    }
}


@media screen and (max-width: 1100px) and (max-device-width: 1100px) {
    .container-Text {
        margin-left: 340px;
    }

    .container-Text2 {
        padding: 40px 10px;
    }

    .img3 {
        width: 310px;
    }

    .container-block3-info1 {
        border-radius: 25px;
        width: 550px;
        margin-top: 45px;
    }

    .container-block3 {
        margin-top: 60px;
    }

    .img5 {
        margin-top: 150px;
        margin-right: 42px;
        width: 400px
    }

    .container-Text h5 {
        font-size: 110px;
    }

    .container-Text p {
        margin-top: 85px;
    }

    .info1-text1 p {
        margin-top: 50px;
    }
}


@media screen and (max-width: 1000px) and (max-device-width: 1000px) {
    .queue {
        width: 485px;
        top: 90px;
    }

    .container-Text {
        margin-left: 418px;
    }

    .containerMain {
        margin-top: 70px;
    }

    .container-Text h5 {
        margin-top: 17%;
        font-size: 100px;
    }

    .container-Text p {
        margin-top: 16%;
    }

    .img3 {
        width: 300px;
    }

    .img5 {
        width: 355px;
    }

    .container-block3-info1 {
        width: 509px;
    }

    .info1-text1 img {
        height: 60px;
    }
}


@media screen and (max-width: 980px) and (max-device-width: 980px) {
    .container-Text {
        margin-left: 355px;
    }


    .container-Text h5 {
        font-size: 120px;
    }

    .container-Text p{
        margin-top: 120px;
        font-size: 16px;
        line-height: 20px;
    }

    .queue {
        top: 105px;
        width: 475px
    }

    .block-info {
        margin: 76px 0 0 5%;
        width: 50%;
    }

    .block2-text1 {
        -webkit-flex-flow: row;
        flex-flow: row;
    }

    .img3 {
        margin: 75px 0 30px 17%;
        width: 75%;
    }

    .container-block3-info1 {
        margin: 20px 15%;
        width: 85%;
        margin-left: 38px;
    }

    .img5 {
        margin-left: 15%;
    }
}

@media screen and (max-width: 900px) and (max-device-width: 900px) {
    .container-Text {
        margin-left: 265px;
    }

    .img3 {
        margin: 95px 0 30px 17%;
        width: 70%;
    }

    .img5 {
        width: 340px;
    }

    .container-block3-info1 {
        margin: 20px 15%;
        width: 87%;
        margin-left: 38px;
    }
}

@media screen and (max-width: 850px) and (max-device-width: 850px) {
    .img3 {
        margin: 132px 0 30px 17%;
        width: 60%;
    }

    .img5 {
        width: 330px;
        margin-left: 8%;
    }

    .container-block3-info1 {
        margin-left: 16px;
    }
}

@media screen and (max-width: 800px) and (max-device-width: 800px) {
    .queue {
        width: 390px;
    }
}

@media screen and (max-width: 780px) and (max-device-width: 780px) {
    .documents {
        display: -webkit-flex;
        display: flex;
        -webkit-justify-content: space-around;
        justify-content: space-around;
    }

    .container-Text {
        margin-left: 40px;
    }

    .queue {
        top: 0;
        left: 25%;
        height: 350px;
    }

    .container-Text2 {
        margin: 400px 0 0 22%;
        width: 75%;
    }

    .container-block3-info1 {
        margin: 20px 5%;
        width: 90%;
    }

    .info1-text1 {
        width: 100%;
    }

    .container-block2 {
        -webkit-flex-flow: column;
        flex-flow: column;
    }

    .block-info {
        width: 85%;
    }

    .img3 {
        margin: 91px 0 30px 24%;
    }

    .container-block3 {
        display: -webkit-flex;
        display: flex;
        -webkit-flex-flow: column;
        flex-flow: column;
    }

    .img5 {
        width: 400px;
        margin-left: 24%;
    }
}

@media screen and (max-width: 600px) and (max-device-width: 600px) {
    .container-Text {
        margin: auto;
        margin-top: 50px;
    }

    .info1-text1 p {
        margin: 42px auto;
    }

    .img5 {
        width: 70%;
        margin-left: 22%;
    }

    .container-Text2 {
        margin-left: 3%;
        width: 95%;
        margin-right: 10px;

    }

    .container-Text2 p {
        margin: 0 15px 0 0px;
    }

    .img3 {
        margin: 30px 0 30px 24%;
    }
}

@media screen and (max-width: 480px) and (max-device-width: 480px) {
    .queue {
        left: 3%;
    }

    .container-Text2 p {
        width: initial;
        font-size: 21px;
    }

    .block-info {
        width: 86%;
        margin: 76px 0 0 2%;
    }

    .img5 {
        width: 66%;
        ;
    }

    .container-Text p {
        margin: 74px 0 0 10px;
    }

    .img1 {
        top: -50px;
    }
}

@media screen and (max-width: 400px) and (max-device-width: 400px) {
    .block-info {
        width: 83%;
        margin: 76px 0 0 4%;
    }

    .img5 {
        margin-left: 19%;
    }

    .block-one {
        width: 89%;
        margin: 19px 0 0 2%;
    }

}

@media screen and (max-width: 375px) and (max-device-width: 375px) {
    .container-Text p {
        margin: 32px 0 0 10px;
        font-size: initial;
    }

    .container-Text2 {
        width: 89%;
    }

    .block-info {
        margin: 76px 0 0 3%;
    }

    .info1-text1 img {
        height: 54px;
        margin: 9px;
    }

    .block-one {
        width: 89%;
        margin: 19px 0 0 2%;
    }

    .bloc3-text {
        width: 325px;
        margin: 30px 5% 0 -20%;
    }

    .block1 img {
        margin: 20px 0 0 20%;
        width: 70%;
    }
}