.redirect-container{
    margin: 0 auto;
    width: 90%;
    height: 100%;
    padding: 0;
    text-align: center;
}

.redirect-container img{
    position: absolute;
    top: 50px;
    left: 50px;
    width: 150px;
    height: 150px;
    cursor: pointer;
}

.redirect-container_text{
    margin: 200px auto 0 auto;
    max-width: 1000px;
    height: auto;
    padding: 30px 30px;
    border-radius: 45px;
    background: #fff;
    border: 1px solid #eee;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

.redirect-container_text p,
.redirect-container_text span{
    font-family: Inter;
    font-size: 32px;
    font-weight: 400;
    line-height: 39px;
    letter-spacing: 0em;
    text-align: center;
}

.redirect-container_text span{
    font-weight: 300;
}

@media screen and (max-width: 1370px) and (max-device-width: 1370px) {
    .redirect-container img{
        top: 25px;
        left: 25px;
        width: 120px;
        height: 120px;
    }
    
    .redirect-container_text{
        margin-top: 200px;
        max-width: 800px;
        padding: 20px 20px;
    }
    
    .redirect-container_text p,
    .redirect-container_text span{
        font-size: 26px;
    }
}

@media screen and (max-width: 880px) and (max-device-width: 880px) {
    .redirect-container img{
        top: 15px;
        left: 15px;
        width: 100px;
        height: 100px;
    }
    
    .redirect-container_text{
        margin-top: 150px;
        max-width: 500px;
        padding: 20px 20px;
        border-radius: 35px;
    }
    
    .redirect-container_text p,
    .redirect-container_text span{
        font-size: 21px;
        line-height: 25px;

    }
}

@media screen and (max-width: 560px) and (max-device-width: 560px) {
    .redirect-container img{
        top: 20px;
        left: 20px;
        width: 80px;
        height: 80px;
    }

    .redirect-container_text{
        margin-top: 250px;
        max-width: 80%;
        box-sizing: border-box;
    }

    .redirect-container_text p,
    .redirect-container_text span{
        font-size: 19px;
        line-height: 23px;

    }
}