.plugins {
    margin:150px 0 0 25%;
    text-align: center;
}
.plugins h2{
    font-weight: normal;
    font-family: Arial;
    line-height: 23px;
}
@media (width <= 1000px) {
    .plugins{
        margin-top: 15%;
    }
}

@media (width <= 650px) {
    .plugins{
        margin-left: 0%;
    }
}
@media (width <= 470px) {
    .plugins{
        margin-top: 25px;
        margin-left: 0%;
        text-align: center;
    }
}