.error-popup {
    position: fixed;
    bottom: 0;
    right: 0;
    background-color: white;
    color: #0188b9;;
    padding: 10px;
    border-radius: 8px 0 0 0;
    border: 2px solid #00b2f4;
    transform: translateY(100%);
    transition: transform 0.5s ease-in-out;
  }
  
  .error-popup.show {
    transform: translateY(0);
  }
  
  .error-popup p {
    margin: 0;
    padding-top: 20px;
    padding-bottom: 10px;
  }
  
  .error-popup button {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #00b2f4;
    border-radius: 6px 0 0 0;
    border: 2px solid #00b2f4;
    border-width: 0 2px 2px 0;
    align-items: center;
    justify-content: center;
    display: flex;
    color: white;
    cursor: pointer;
    outline: none;
  }
  
  .error-popup button:hover {
    background-color: #0188b9;
  }
  