.container-header {
    display: flex;
    display: -webkit-flex;
}

.button-container {
    position: absolute;
    right: 0;
}

.button-container button {
    margin: 10px;
    width: 110px;
    height: 50px;
    padding: initial;
    border: 2px solid;
    background-color: rgb(255, 255, 255);
    border-color: #00B2F4;
    font-family: 'Arial';
    font-weight: 700;
    box-shadow: 8px 10px 5px 2px rgba(105, 105, 106, 0.2)
}

.button-container button:focus {
    vertical-align: middle;
    color: #00B2F4;
}

.container-img img {
    width: 100px;
    height: 100px;
    margin-top: 21px;
}

.header-burger {
    display: none;
}

@media screen and (max-width: 2400px) and (max-device-width: 2400px) {
    .button-container {
        top: 40px;
    }

    .button-container button{
        width: 220px;
        height: 70px;
        font-size: 25px;
    }

    .container-img{
        margin-left: 30%
    }
}

@media screen and (max-width: 2200px) and (max-device-width: 2200px) {
    .button-container button{
        width: 200px;
        height: 60px;
    }
    .container-img{
        margin-left: 30%
    }
}

@media screen and (max-width: 2000px) and (max-device-width: 2000px) {
    .button-container button{
        width: 200px;
        height: 60px;
        font-size: 21px;
    }

    .container-img{
        margin-left: 30%
    }
}

@media screen and (max-width: 1800px) and (max-device-width: 1800px) {
    .button-container button{
        width: 160px;
        height: 50px;
        font-size: 16px;
    }
}

@media screen and (max-width: 1600px) and (max-device-width: 1600px) {
    .button-container button{
        width: 120px;
        height: 50px;
        font-size: 14px;
    }

    .container-img{
        margin-left: 35%;
    }
}

@media screen and (max-width: 1450px) and (max-device-width: 1450px) {
    .container-img{
        margin-left: 20%;
    }
}

@media screen and (max-width: 1100px) and (max-device-width: 1100px) {

}

@media screen and (max-width: 1000px) and (max-device-width: 1000px) {
    .button-container button {
        width: 95px;
        font-size: 12px;
    }

    .container-img{
        margin-left: 40px;
    }

    .container-img img{
        width: 90px;
        height: 90px;
    }
}

@media screen and (max-width: 900px) and (max-device-width: 900px) {
    .button-container button {
        Width: 90px;
        font-size: 10px;
        height: 35px;
    }
}

@media screen and (max-width: 870px) and (max-device-width: 870px) {
    .container-img img {
        width: 85px;
        height: 85px;
    }

    .button-container {
        right: 10px;
    }

    .container-img {
        margin-left: 0%;
    }

    .button-container button {
        cursor: pointer;
        width: 75px;
        height: 30px;
        font-size: 9px;
        margin: 6px;
    }
}

@media screen and (max-width: 770px) and (max-device-width: 770px) {
    .container-img img {
        width: 150px;
        height: 80px;
    }
}

@media screen and (max-width: 730px) and (max-device-width: 730px){
    .container-img {
        display: none;
    }
}

@media screen and (max-width: 650px) and (max-device-width: 650px) {
    .container-img img {
        width: 70px;
        height: 70px;
        margin-left: 20px;
    }

    .button-container {
        display: none;
    }

    .header-burger {
        display: block;
        position: relative;
        left: 90%;
        width: 50px;
    }

    .modalBurger {
        position: fixed;
        right: 0px;
        z-index: 1100;
        width: 230px;
        height: 100%;
        transition: all 0.5s ease 0s;
        background-color: rgb(255, 255, 255);
        box-shadow: 0 1px 20px rgba(0, 0, 0, 0.15);
    }

    .menuBurger {
        display: flex;
        flex-direction: column;
        margin-top: 100px;
        margin-left: 50px;
        z-index: 11;
    }

    .menuBurger button {
        height: 30px;
        cursor: pointer;
        Width: 110px;
        margin: 10px;
        padding: initial;
        border: 2px solid;
        background-color: rgb(255, 255, 255);
        border-color: #00B2F4;
        font-family: 'Arial';
        font-size: 14px;
        box-shadow: 8px 10px 5px 2px rgba(105, 105, 106, 0.2)
    }

}

@media screen and (max-width: 590px) and (max-device-width: 590px) {
    .button-container {
        right: 45px;
    }
}

@media screen and (max-width: 550px) and (max-device-width: 550px) {
    .button-container {
        right: 25px;
    }

    .button-container button {
        width: 70px;
        font-size: 9px;
    }
}

@media screen and (max-width: 490px) and (max-device-width: 490px) {
    .button-container {
        right: 10px;
    }
}

@media screen and (max-width: 470px) and (max-device-width: 470px){
    .container-img {
        display: block;
    }

    .container-img img {
        display: none;
    }

    .button-container {
        display: none;
    }

    .header-burger {
        display: block;
        position: relative;
        left: 80%;
        width: 50px;
    }

    .modalBurger {
        position: fixed;
        right: 0px;
        z-index: 1100;
        width: 230px;
        height: 100%;
        transition: all 0.5s ease 0s;
        background-color: rgb(255, 255, 255);
        box-shadow: 0 1px 20px rgba(0, 0, 0, 0.15);
    }

    .menuBurger {
        display: flex;
        flex-direction: column;
        margin-top: 100PX;
        margin-left: 50PX;
        z-index: 11;
    }

    .menuBurger button {
        height: 30px;
        cursor: pointer;
        Width: 110px;
        margin: 10px;
        padding: initial;
        border: 2px solid;
        background-color: rgb(255, 255, 255);
        border-color: #00B2F4;
        font-family: 'Arial';
        font-size: 14px;
        box-shadow: 8px 10px 5px 2px rgba(105, 105, 106, 0.2)
    }
}