.container-header {
    display: flex;
    flex-direction: row;
}

.button-container {
    position: absolute;
    right: 0;
    margin-top: 30px;
}

.button-container button {
    cursor: pointer;
    Width: 110px;
    Height: 40px;
    margin: 10px;
    padding: initial;
    border: 2px solid;
    background-color: rgb(255, 255, 255);
    border-color: #00B2F4;
    font-family: 'Arial';
    font-size: 14px;
    box-shadow: 8px 10px 5px 2px rgba(105, 105, 106, 0.2)
}

.button-container button:focus {
    vertical-align: middle;
    color: #00B2F4;
}

.container-img {
    margin-left: 35%;
}

.container-img img {
    width: 100px;
    height: 100px;
    margin-top: 21px;
}

.header-burger {
    display: none;
}



/* @media(width <=1160px) {
    .container-img img {
        margin-left: 290px;
        width: 80px;
        height: 80px;
    }
} */
@media (width <= 1600px) {
    .button-container button{
        font-weight: 700;
        Width: 140px;
        Height: 50px;
        font-size: 17px;
    }
    .button-container{
        right: 20px;
    }
}

@media (Width <= 1450px) {
    .container-img{
        margin-left: 20%;
    }
}
@media(width <=1000px) {
    .button-container button {
        Width: 95px;
        font-size: 12px;
        height: 33px;
    }

    .container-img img {
        display: none;
    }
}

@media(width <=900px) {
    .button-container button {
        Width: 90px;
        font-size: 10px;
        height: 35px;
    }
}

/* @media(width <=980px) {
    .container-img img {
        display: none;
    }
} */

@media(width <=870px) {
    .container-img img {
        width: 85px;
        height: 85px;
    }
}

@media(width <=770px) {
    .container-img img {
        width: 150px;
        height: 80px;
    }
}

@media(width <=650px) {
    .container-img img {
        width: 70px;
        height: 70px;
        margin-left: 20px;
    }

    .button-container {
        display: none;
    }

    .header-burger {
        display: block;
        position: relative;
        left: 80%;
        width: 50px;
    }

    .modalBurger {
        position: fixed;
        right: 0px;
        z-index: 1100;
        width: 230px;
        height: 100%;
        transition: all 0.5s ease 0s;
        background-color: rgb(255, 255, 255);
        box-shadow: 0 1px 20px rgba(0, 0, 0, 0.15);
    }

    .menuBurger {
        display: flex;
        flex-direction: column;
        margin-top: 100PX;
        margin-left: 50PX;
        z-index: 11;
    }

    .menuBurger button {
        height: 30px;
        cursor: pointer;
        Width: 110px;
        margin: 10px;
        padding: initial;
        border: 2px solid;
        background-color: rgb(255, 255, 255);
        border-color: #00B2F4;
        font-family: 'Arial';
        font-size: 14px;
        box-shadow: 8px 10px 5px 2px rgba(105, 105, 106, 0.2)
    }

}

@media(width <=1150px) {
    .button-container {
        right: 20px;
    }
}

@media(width <=1170px) {
    .container-img {
        margin-left: 2%;
    }
}

@media(width <=820px) {
    .button-container {
        right: 10px;
    }

    .button-container button {
        Width: 83px;
        font-size: 9px;
        height: 31px;
    }
}

@media(width <=780px) {
    .container-img {
        margin-left: 0%;
    }

    .button-container button {
        cursor: pointer;
        width: 75px;
        height: 30px;
        font-size: 9px;
        margin: 6px;
    }
}

@media(width <=590px) {
    .container-img {
        display: none;
    }

    .button-container {
        right: 45px;
    }
}

@media (width<=550px) {
    .button-container {
        right: 25px;
    }

    .button-container button {
        width: 70px;
        font-size: 9px;
    }
}

@media(width <=700px) {
    .button-container {
        top: -20px;
    }
}

@media(width <=770px) {
    .button-container {
        right: 10px;
    }
}

@media(width <=490px) {
    .button-container {
        right: 10px;
    }
}

@media(width <=470px) {
    .container-img {
        display: block;
    }

    .container-img img {
        display: none;
    }

    .button-container {
        display: none;
    }

    .header-burger {
        display: block;
        position: relative;
        left: 80%;
        width: 50px;
    }

    .modalBurger {
        position: fixed;
        right: 0px;
        z-index: 1100;
        width: 230px;
        height: 100%;
        transition: all 0.5s ease 0s;
        background-color: rgb(255, 255, 255);
        box-shadow: 0 1px 20px rgba(0, 0, 0, 0.15);
    }

    .menuBurger {
        display: flex;
        flex-direction: column;
        margin-top: 100PX;
        margin-left: 50PX;
        z-index: 11;
    }

    .menuBurger button {
        height: 30px;
        cursor: pointer;
        Width: 110px;
        margin: 10px;
        padding: initial;
        border: 2px solid;
        background-color: rgb(255, 255, 255);
        border-color: #00B2F4;
        font-family: 'Arial';
        font-size: 14px;
        box-shadow: 8px 10px 5px 2px rgba(105, 105, 106, 0.2)
    }
}