.edit-user {
    margin: 120px 0 0 650px;
    width: 720px;
    padding: 0.7rem 1.5rem 35px;
    display: flex;
    align-items: end;
    flex-direction: column;
    border-radius: 45px;
    background: #fff;
    border: 1px solid #eee;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
    text-align: center;
}

.edit-user h5 {
    margin-left: -16px;
    font-size: 25px;
    font-weight: 400;
    font-family: Arial;
    line-height: 21.77px;
}

.access-btn {
    width: 200px;
    font-size: 18px;
    margin-top: 40px;
    margin-right: 0px;
    border: 0;
    height: 36px;
    background-color: rgb(0, 178, 244);
    color: #eee;
    border-radius: 13px;
}

.edit-user_data {
    display: flex;
    justify-content: end;
}

.edit-user_data input {
    margin-left: 15px;
    width: 300px;
    height: 63px;
    display: block;
    background: transparent;
    font-size: 15px;
    border: 1px solid #ffffff;
    color: #000;
    text-transform: initial;
    background-color: rgb(217, 249, 255);
}

@media screen and (min-width: 1700px) and (max-width: 2400px) and (max-device-width: 2400px) {
    .edit-user{
        margin-top: 100px;
        margin-left: 40vw;
        width: 1000px;
    }

    .edit-user h5,
    .edit-user input{
        font-size: 20px;
        line-height: 21.77px;
        font-weight: 400;
    }

    .edit-user_data input {
        margin: 0;
        margin-left: 15px;
        width: 500px;
        height: 53px;
        padding: 3px 5px;
        display: block;
        background: transparent;
        font-size: 15px;
        border: 1px solid #ffffff;
        color: #000;
        text-transform: initial;
        background-color: rgb(217, 249, 255);
        border-radius: 7px;
    }
    
    .data_physical{
        margin-top: 250px;
    }

    .access-btn {
        margin: 30px auto;
        width: 250px;
        height: 50px;
        font-size: 20px;
        line-height: 23px;
        border: 0;
        border-radius: 20px;
    }
}

@media screen and (max-width: 1460px) and (max-device-width: 1460px) {
    .edit-user {
        margin-top: 120px;
        margin-left: 525px;
    }

    .edit-user h5 {
        margin-left: -50px;
    }
}

@media screen and (max-width: 1300px) and (max-device-width: 1300px) {
    .edit-user {
        width: 680px;
        margin-left: 400px;
    }
}

@media screen and (max-width: 1100px) and (max-device-width: 1100px)  {
    .edit-user {
        margin-left: 345px;
        margin-top: 110px;
        width: 630px;
    }

    .edit-user_data input {
        height: calc(2.5rem + 5px);
    }
    .edit-user h5 {
        font-size: 20px;
    }
}

@media screen and (max-width: 1000px) and (max-device-width: 1000px)  {
    .edit-user {
        margin-left: 341px;
        margin-top: 110px;
        width: 582px;
    }

    .edit-user h5 {
        font-size: 19px;
    }
}

@media screen and (max-width: 980px) and (max-device-width: 980px)  {
    .edit-user {
        margin-left: 316px;
        width: 582px;
        margin-top: 110px;
    }
    .edit-user_data input{
        margin-right: -35px;
    }
}

@media screen and (max-width: 900px) and (max-device-width: 900px)  {
    .edit-user {
        margin-left: 400px;
        width: 345px;
        margin-top: 100px;
        flex-direction: initial;
        text-align: start;
    }

    .edit-user_data {
        flex-direction: column;
    }

    .edit-user h5 {
        margin-bottom: 0;
        margin-left: 16px;
    }

    .access-btn {
        margin-left: 40px;
    }

    .edit-user_data input {
        height: calc(3.5rem + -12px);
    }
}

@media screen and (max-width: 800px) and (max-device-width: 800px) {
    .edit-user {
        margin-left: 357px;
    }
}

@media screen and (max-width: 740px) and (max-device-width: 740px)  {
    .edit-user {
        margin-left: 318px;
    }
}

@media screen and (max-width: 650px) and (max-device-width: 650px)  {
    .edit-user {
        margin-left: 95px;
    }
}

@media screen and (max-width: 570px) and (max-device-width: 570px) {
    .edit-user {
        margin-left: 70px;
        width: 320px;
    }
}

@media screen and (max-width: 470px) and (max-device-width: 470px) {
    .edit-user h5 {
        width: 300px;
        margin-bottom: 0;
        margin-left: 0;
    }

    .edit-user {
        margin-left: auto;
        margin-right: auto;
        width: 285px;
        margin-top: 20px;
        padding: 0.7rem 1.5rem 35px;
        display: flex;
        flex-direction: initial;
        border-radius: 0.5rem;
        background: #fff;
        border: 1px solid #eee;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
        text-align: start;
    }

    .edit-user_data input {
        margin-left: 0;
    }

    .edit-user_data {
        flex-direction: column;
        width: 300px;
    }
}



@media screen and (max-width: 350px) and (max-device-width: 350px) {
    .edit-user {
        width: 268px;
    }
}