.container-step {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-step .screen {
    width: 90%;
    margin: 20px 0 0 10%;
}

.step-text {    
    position: relative;
    margin: 20px 0 0 10%;
    width: 90%;
    padding: 20px;
    display: flex;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    box-sizing: border-box;
}

.step-text img {
    position: absolute;
    top: 30px;  
    left: 25px;
    height: 50px;  
}
.step-text h1{
    margin: 10px 20px 0 20px;
}
