.container-Footer {
    display: flex;
    flex-direction: row;
}

.Footer {
    width: 100%;
    margin: auto;
    margin-top: 75px;
}

.Footer h4 {
    text-align: center;
    font-family: revert;
    font-weight: 500;
}

.span {
    color: #00B2F4;
    border-top: 1px solid #00B2F4;
}

@media (width <=1600px) {
    .Footer {
        margin-top: 200px;
    }
}
@media (width <=1300px) {
    .Footer {
        margin-top: 148px;
    }
}

@media (width<=590px) {
    .Footer {
        margin-top: 295px;
    }
}
@media (width<=550px) {
    .Footer {
        margin-top: 100px;
    }
}
@media (width<=480px) {
    .Footer {
        margin-top: 100px;
    }
}