.form-register-legal-entity {
    display: flex;
    flex-direction: column;
    padding: 0.7rem 1.5rem 35px;
    border-radius: 0.5rem;
    background: #fff;
    border: 1px solid #eee;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
    text-align: center;
    /* height: 300px; */
    width: 750px;
    margin-right: 15px;
    margin-top: 15px;
}

.legal-entiti-block1 {
    position: relative;

}

.legal-entiti-block1 input[id="name-of-company"],
.legal-entiti-block1 input[id="legal-address"],
.legal-entiti-block1 input[id="inn"],
.legal-entiti-block1 input[id="checkpoint"],
.legal-entiti-block1 input[id="surname"],
.legal-entiti-block1 input[id="name"],
.legal-entiti-block1 input[id="patronymic"],
.legal-entiti-block1 input[id="email"],
.legal-entiti-block1 input[id="confirmation-email"],
.legal-entiti-block1 input[id="pass"],
.legal-entiti-block1 input[id="confirmation-pass"] {
    display: block;
    outline: none;
    width: 60%;
    height: calc(3.5rem + -8px);
    background: transparent;
    font-size: 15px;
    border: 1px solid #ffffff;
    color: #000;
    text-transform: initial;
    box-sizing: border-box;
    background-color: rgb(217, 249, 255);
    margin-left: 305px;
    margin-top: 18px;
}

.legal-entiti-block1 label[for="name-of-company"],
.legal-entiti-block1 label[for="legal-address"],
.legal-entiti-block1 label[for="inn"],
.legal-entiti-block1 label[for="checkpoint"],
.legal-entiti-block1 label[for="surname"],
.legal-entiti-block1 label[for="name"],
.legal-entiti-block1 label[for="patronymic"],
.legal-entiti-block1 label[for="email"],
.legal-entiti-block1 label[for="confirmation-email"],
.legal-entiti-block1 label[for="pass"],
.legal-entiti-block1 label[for="confirmation-pass"] {
    display: block;
    position: absolute;
    left: 70px;
    top: 38px;
    text-align: left;
    font-size: 17px;
    color: #000;
    -webkit-transition: .2s;
    transition: .2s;
}

.legal-entiti-block1 label[for="legal-address"] {
    top: 105px;
    left: 135px;
}

.legal-entiti-block1 label[for="inn"] {
    left: 257px;
    top: 170px;
}

.legal-entiti-block1 label[for="checkpoint"] {
    top: 235px;
    left: 257px;
}

.legal-entiti-block1 label[for="surname"] {
    top: 300px;
    left: -6px;
}

.legal-entiti-block1 label[for="name"] {
    top: 368px;
    left: 257px;
}

.legal-entiti-block1 label[for="patronymic"] {
    top: 435px;
    left: 220px;
}

.legal-entiti-block1 label[for="email"] {
    top: 500px;
    left: 245px;
}

.legal-entiti-block1 label[for="confirmation-email"] {
    left: 139px;
    top: 563px;
}

.legal-entiti-block1 label[for="pass"] {
    top: 630px;
    left: 160px;
}

.legal-entiti-block1 label[for="confirmation-pass"] {
    top: 695px;
    left: 130px;
}

.reg-btn{
    width: 200px;
    font-size: 18px;
    margin-top: 25px;
    margin-left: 295px;
    border: 0;
    height: 36px;
    background-color: #00b2f4;
    color: #eee;
    border-radius: 13px;
    font-size: 15px;
}

@media (width <=1250px) {
    .form-login {
        left: 25%;
    }

    .form-register-legal-entity {
        width: 730px;
    }
}

@media (width <=1100px) {
    .form-register-legal-entity {
        width: 650px;
    }

    .legal-entiti-block1 input[id="name-of-company"],
    .legal-entiti-block1 input[id="legal-address"],
    .legal-entiti-block1 input[id="inn"],
    .legal-entiti-block1 input[id="checkpoint"],
    .legal-entiti-block1 input[id="surname"],
    .legal-entiti-block1 input[id="name"],
    .legal-entiti-block1 input[id="patronymic"],
    .legal-entiti-block1 input[id="email"],
    .legal-entiti-block1 input[id="confirmation-email"],
    .legal-entiti-block1 input[id="pass"],
    .legal-entiti-block1 input[id="confirmation-pass"] {
        margin-left: 250px;
    }

    .legal-entiti-block1 label[for="name-of-company"] {
        left: 20px;
    }

    .legal-entiti-block1 label[for="legal-address"] {
        left: 80px;
    }

    .legal-entiti-block1 label[for="inn"] {
        left: 205px;
    }

    .legal-entiti-block1 label[for="checkpoint"] {
        left: 205px;

    }

    .legal-entiti-block1 label[for="surname"] {
        left: 60px;
        width: 192px;
        top: 280px;
    }

    .legal-entiti-block1 label[for="name"] {
        left: 205px;
    }

    .legal-entiti-block1 label[for="patronymic"] {
        left: 170px;
    }

    .legal-entiti-block1 label[for="email"] {
        left: 195px;
    }

    .legal-entiti-block1 label[for="confirmation-email"] {
        left: 85px;
    }

    .legal-entiti-block1 label[for="pass"] {
        left: 105px;
    }

    .legal-entiti-block1 label[for="confirmation-pass"] {
        left: 80px;
    }
}

@media (width <=980px) {
    .form-login {
        left: 5%;
        top: 100px;
    }
}


@media (width <=770px) {
    .form-login {
        left: 11%;
    }

    .form-register-legal-entity {
        width: 400px;
    }

    .legal-entiti-block1 input[id="name-of-company"],
    .legal-entiti-block1 input[id="legal-address"],
    .legal-entiti-block1 input[id="inn"],
    .legal-entiti-block1 input[id="checkpoint"],
    .legal-entiti-block1 input[id="surname"],
    .legal-entiti-block1 input[id="name"],
    .legal-entiti-block1 input[id="patronymic"],
    .legal-entiti-block1 input[id="email"],
    .legal-entiti-block1 input[id="confirmation-email"],
    .legal-entiti-block1 input[id="pass"],
    .legal-entiti-block1 input[id="confirmation-pass"] {
        margin-left: 177px;
    }

    .legal-entiti-block1 label[for="name-of-company"] {
        left: 55px;
        width: 0px;
        top: 20px;
    }

    .legal-entiti-block1 label[for="legal-address"] {
        left: 13px;
    }

    .legal-entiti-block1 label[for="inn"],
    .legal-entiti-block1 label[for="checkpoint"] {
        left: 140px;
    }

    .legal-entiti-block1 label[for="surname"] {
        left: -5px;
    }

    .legal-entiti-block1 label[for="name"] {
        left: 140px;
    }

    .legal-entiti-block1 label[for="patronymic"] {
        left: 100px;
    }

    .legal-entiti-block1 label[for="email"] {
        left: 125px;
    }

    .legal-entiti-block1 label[for="confirmation-email"] {
        left: 20px;
    }

    .legal-entiti-block1 label[for="pass"] {
        left: 40px;
    }

    .legal-entiti-block1 label[for="confirmation-pass"] {
        left: 15px;
    }

    .reg-btn{
        margin-left: 200px;
    }
}

@media (width <=580px) {
 .form-login{
    left: 7%;
    top: 41px;
 }
}
@media (width <= 500px) {
    .form-login{
        left: 3%;
        top: 55px;

    }
}

@media (width <=470px) {
    .form-register-legal-entity {
        width: 300px;
        margin-left: 40px;
        margin-right: 7px;
    }

    .legal-entiti-block1 input[id="name-of-company"],
    .legal-entiti-block1 input[id="legal-address"],
    .legal-entiti-block1 input[id="inn"],
    .legal-entiti-block1 input[id="checkpoint"],
    .legal-entiti-block1 input[id="surname"],
    .legal-entiti-block1 input[id="name"],
    .legal-entiti-block1 input[id="patronymic"],
    .legal-entiti-block1 input[id="email"],
    .legal-entiti-block1 input[id="confirmation-email"],
    .legal-entiti-block1 input[id="pass"],
    .legal-entiti-block1 input[id="confirmation-pass"] {
        margin-left: 25px;
        width: 90%;
        margin-top: 50px;
    }

    .reg-btn{
        margin-left: 60px;
    }

    .legal-entiti-block1 label[for="name-of-company"] {
        /* width: 218px; */
        top: 0px;
        left: 30px;
    }

    .legal-entiti-block1 label[for="legal-address"] {
        top: 120px;
        left: 30px;
    }

    .legal-entiti-block1 label[for="inn"] {
        left: 30px;
        top: 220px;
    }

    .legal-entiti-block1 label[for="checkpoint"] {
        left: 30px;
        top: 320px;
    }

    .legal-entiti-block1 label[for="name"] {
        left: 30px;
        top: 515px;
    }

    .legal-entiti-block1 label[for="surname"] {
        width: 218px;
        top: 392px;
        left: 30px;
    }

    .legal-entiti-block1 label[for="patronymic"] {
        left: 30px;
        top: 610px;
    }

    .legal-entiti-block1 label[for="email"] {
        left: 30px;
        top: 710px;
    }

    .legal-entiti-block1 label[for="confirmation-email"] {
        left: 30px;
        top: 810px;
    }

    .legal-entiti-block1 label[for="pass"] {
        left: 30px;
        top: 910px;
    }

    .legal-entiti-block1 label[for="confirmation-pass"] {
        left: 30px;
        top: 1005px;
    }

}

@media (width <=400px) {
    .form-register-legal-entity {
        margin-left: 13px
    }
}