.ContainerLogin {
    margin-top: 110px;
    display: flex;
}

.laptop-img {
    position: absolute;
    top: 200px;
    left: 5%;
    height: 500px;
    z-index: 1;
}

.form-login {
    position: relative;
    z-index: 2;
    margin-left: 40%;
}

.form-login span {
    display: flex;
    justify-content: center;
    color: #00b2f4;
    font-size: 23px;
    cursor: pointer;

}

.block-Login1 {
    display: flex;
    flex-direction: column;
    padding: 0.7rem 1.5rem 35px;
    border-radius: 0.5rem;
    background: #fff;
    border: 1px solid #eee;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
    text-align: center;
    width: 750px;
    margin-right: 15px;
    margin-top: 55px;
    box-sizing: border-box;
}

.block-Login1 h3 {
    font-size: 1.3rem;
    text-align: center;
    text-transform: uppercase;
    margin-top: 20px;
    margin-bottom: 1.2rem;
    font-weight: 500;
    line-height: 1.2;
    font-family: 'Roboto', sans-serif;
}

.block-Login1 button {
    cursor: pointer;
    width: 200px;
    font-size: 23px;
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
    border: 0;
    height: 36px;
    background-color: #00b2f4;
    color: #eee;
    border-radius: 13px;
}

.block-Login1 span {
    color: #00b2f4;
    text-decoration: none;
    background-color: transparent;
    cursor: pointer;
    font-size: 23px;
}

.animateContainer {
    position: relative;
}

.animateContainer input[id="id_email"],
.animateContainer input[id="pass"] {
    display: block;
    outline: none;
    width: 50%;
    height: calc(2.5rem + -12px);
    max-height: 55px;
    background: transparent;
    font-size: 15px;
    border: 1px solid #ffffff;
    color: #000;
    text-transform: initial;
    box-sizing: border-box;
    background-color: rgb(217, 249, 255);
    margin-left: auto;
    margin-right: auto;
    margin-top: 18px;
}

.animateContainer label[for="id_email"],
.animateContainer label[for="pass"] {
    cursor: text;
    display: block;
    position: absolute;
    left: auto;
    top: 35px;
    text-align: left;
    color: #000;
    -webkit-transition: .2s;
    transition: .2s;
}

.animateContainer label[for="pass"] {
    top: 105px;
}

.animateContainer input[id="id_email"]:valid+label[for="id_email"],
.animateContainer input[id="id_email"]:focus+label[for="id_email"] {
    font-size: 23px;
    outline: 0;
}

.animateContainer input[id="id_email"]:focus {
    color: #495057;
    background-color: #fff;
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, .25);
}

.animateContainer input[id="pass"]:valid+label[for="pass"],
.animateContainer input[id="pass"]:focus+label[for="pass"] {
    font-size: 23px;
}

.animateContainer input[id="pass"]:focus {
    color: #495057;
    background-color: #fff;
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, .25);
}

input:focus+label,
textarea:valid+label {
    top: -17px;
    font-size: 13px;
    opacity: 0.65;
    font-family: inherit;
}

.passwordRecovery {
    margin-top: 0.5rem !important;
}

.nideimg {
    width: 30px;
    top: 0px;
    height: 30px;
    position: relative;
}

.modal-choice-registration-Container {
    top: 77%;
    left: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-choice-registration {
    width: 310px;
    height: 125px;
    background-color: white;
    border-color: #515151;
    border: 1px solid #515151;
    border-radius: 5px;
    margin-top: 20px;
}

.modal-choice-registration p {
    text-align: center;
    margin-top: 0;
    font-size: 23px;
}

.modal-choice-registration span {
    color: #00b2f4;
    font-size: 15px;
    line-height: 30px;
    cursor: pointer;
}

@media screen and (max-width: 1490px) and (max-device-width: 1490px) {
    .form-login {
        margin-left: 35%;
    }

    .laptop-img {
        position: absolute;
        top: 200px;
        left: 1%;
        height: 400px;
        z-index: 1;
    }
}

@media screen and (max-width: 1360px) and (max-device-width: 1360px) {
    .block-Login1 {
        width: 610px;
    }

    .animateContainer input[id="id_email"],
    .animateContainer input[id="pass"] {
        width: 60%;
    }
}

@media screen and (max-width: 1250px) and (max-device-width: 1250px) {
    .laptop-img{
        display: none;
    }
}

@media screen and (max-width: 1100px) and (max-device-width: 1100px) {
    .laptop-img {
        left: 15px;
    }
}

@media screen and (max-width: 1040px) and (max-device-width: 1040px) {
    .block-Login1 {
        width: 540px;
    }

    .block-Login1 button {
        margin-left: 125px;
    }

    .laptop-img {
        display: none;
    }

    .auth-container{
        margin: 0 0 0 -10%;
    }
}

@media screen and (max-width: 1000px) and (max-device-width: 1000px) {
    .block-Login1 {
        margin-top: 130px;
    }
}

@media screen and (max-width: 980px) and (max-device-width: 980px) {
    .auth-container {
        margin: 0 0 0 -30%;
    }

    .block-Login1{
        margin: 0;
    }

    .reg-link{
        margin: 0 0 0 -150px;
    }
}

@media screen and (max-width: 800px) and (max-device-width: 800px) {
    .form-login {
        margin: auto;
    }

    .auth-container {
        margin: 0;
    }

    .block-Login1{
        margin: 0;
    }

    .reg-link{
        margin: 0;
    }
}

@media screen and (max-width: 700px) and (max-device-width: 700px) {
    .block-Login1 {
        width: 520px;
    }

    .animateContainer input[id="id_email"],
    .animateContainer input[id="pass"] {
        width: 65%;
    }

    .animateContainer label[for="id_email"],
    .animateContainer label[for="pass"] {
        left: -20px;
    }

    .block-Login1 h3 {
        margin-left: 40px;
    }
}

@media  screen and (max-width: 590px) and (max-device-width: 590px) {
    .block-Login1 {
        width: 470px;
    }

    .block-Login1 button {
        margin-left: auto;
        margin-right: auto;
    }

    .animateContainer input[id="id_email"],
    .animateContainer input[id="pass"] {
        margin-left: auto;
        margin-right: auto;
        width: 60%;
    }

    .block-Login1 h3 {
        margin-left: 0;
    }
}

@media  screen and (max-width: 510px) and (max-device-width: 510px) {
    .ContainerLogin {
        flex-direction: column;
    }

    .block-Login1 {        
        margin: 0 auto;
        width: 370px;
    }

    .auth-container{
        margin: 0 0;
        left: 0;
    }

    .block-Login1 button {
        width: 60%;
    }

    .animateContainer input[id="id_email"],
    .animateContainer input[id="pass"] {
        margin-left: auto;
        margin-right: auto;
        width: 75%;
    }

    .animateContainer label[for="id_email"],
    .animateContainer label[for="pass"] {
        top: 27px;
        font-size: 18px;
    }

    .animateContainer input[id="id_email"]:focus+label[for="id_email"] {
        font-size: 19px;
    }


    .animateContainer label[for="pass"] {
        top: 85px;
        left: -28px;
    }

    .animateContainer img {
        top: 87px;
        right: 16%;
        height: 20px;
        width: 20px;
    }

    .animateContainer input[id="id_email"]:valid+label[for="id_email"]{
        font-size: 19px;
    }
}

@media  screen and (max-width: 400px) and (max-device-width: 400px) {
    .block-Login1 {
        width: 345px;
        margin-left: auto;
        margin-right: auto;
    }
}